---
import Contenedor from "./Contenedor.astro";
---

<Contenedor>
  <div class="flex items-end w-full h-80 bg-[url(/fondoheader.jpg)] opacity-80 bg-no-repeat bg-cover rounded-3xl relative">
    <h1 class="text-white absolute opacity-100 top-36 text-5xl ml-4 font-black">El poder de lo nuevo</h1>
    <p class="text-white absolute opacity-100 top-48 ml-4 text-2xl font-black">Una guia esperitual</p>
    <button class="bg-yellow-700 absolute opacity-100 top-60 py-2 px-3 ml-4 rounded-xl text-white text-3xl font-black">Listar Gratis</button>
  </div>
</Contenedor>